services:

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  producer:
    build:
      context: ./producer-api
    ports:
      - "8000:8000"
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      EMAIL_EXCHANGE: email.exchange
      ROUTING_KEY: email.send
    depends_on:
      rabbitmq:
        condition: service_healthy

  consumer:
    build:
      context: ./consumer-service
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      EMAIL_EXCHANGE: email.exchange
      ROUTING_KEY: email.send
      EMAIL_QUEUE_NAME: email_queue
      DEAD_LETTER_EXCHANGE: dlx.email
      DEAD_LETTER_QUEUE: dlq.email
      MAX_RETRIES: 3
    depends_on:
      rabbitmq:
        condition: service_healthy
